{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Your Cart{% endblock %}


{% block body %}

<div class="container" style="margin-top: 200px; margin-bottom: 200px;">

	<h1 align="center" style="margin-top: -100px; margin-bottom: 100px;">Checkout</h1>
	
	<table class="table table-striped">

	<thead>
		<tr>
			<td>Cod</td>
			<td>Product Name</td>
			<td>Quantity</td>
			<td>Price</td>
			<td></td>
		</tr>
	</thead>


	{% for item in item_list %}

		<tbody>
			<tr>
				<td>{{item.cod}}</td>
				<td>{{item.name}}</td>
				<td>{{item.quantity}}</td>
				<td>R$ {{item.price}}</td>
				<td><a type="button" onclick="return confirmation()" class="btn btn-danger" href="{% url 'core:remove_of_cart' item.cod %}">Remove</a></td>
			</tr>
		</tbody>

	{% endfor %}

			{% if total_price %}
			<tr>
				<td>TOTAL: R$ {{total_price}}</td>
			</tr>

			{% else %}
			<tr>
				<td>TOTAL: R$ 0</td>
			</tr>

			{% endif %}
	</table>


	<a type=button class="btn btn-primary" href="{% url 'core:category_list' %}" style="margin-top: 50px;">Continue shopping</a>
	<a type=button class="btn btn-success" href="#" style="margin-top: 50px;">Proceed to checkout</a>

</div>

<script src="{% static 'javascript/cart.js' %}"></script>
{% endblock %}