{% extends 'base.html' %}

{% block title %}Your Historic{% endblock %}

{% block body %}

<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">

	<h1 align="center" style="margin-top: -100px; margin-bottom: 100px;">Orders of {{user.username}}</h1>

	<form class="form-control form-inline" action="." method="post" enctype="multipart/form-data" style="margin-bottom: 50px;">
		{% csrf_token %}
		<div class="form-group">
			{{form.as_p}}
		</div>
	
		<button type="submit" class="btn btn-primary btn-sm" style="margin-top: -15px;">Filtrate</button>
	
	</form>

	<div class="table-responsive">

		<table class="table table-bordered">

		<thead>
			<tr>
				<td>Cod</td>
				<td>Item Name</td>
				<td>Quantity</td>
				<td>Price</td>
			</tr>
		</thead>

		{% for item in orders %}
			<tbody>
				<tr>
					<td>{{item.cod}}</td>
					<td>{{item.name}}</td>
					<td>{{item.quantity}}</td>
					<td>R$ {{item.price}}</td>
				</tr>
			</tbody>
		{% endfor %}

		{% if total_price %}
			<tbody>
				<tr>
					<td>TOTAL R$: {{total_price}}</td>
				</tr>
			</tbody>
		{% endif %}

		</table>

	</div>

	<a type=button class="btn btn-primary" href="{% url 'core:index' %}" style="margin-top: 50px;">Return to index</a>

</div>

{% endblock %}