{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Products{% endblock %}


{% block body %}

<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">

  <h1 align="center" style="margin-top: -100px; margin-bottom: 100px;">Products</h1>

  <div class="row-fluid">
  	
  	{% for product in products %}
    
    <div class="col-xs-6 col-sm-3">
      {% if product.image %}
      <img class="img-circle img-responsive" src="{{product.image.url}}" alt="Responsive image" width="140" height="140">
      {% endif %}
      <h2>{{product.name}}</h2>
      <p>Price: R$ {{product.price}}</p>
      <p><a class="btn btn-default" onclick="return added_to_cart()" href="{% url 'core:add_to_cart' item_cod=product.cod %}" role="button">Buy &raquo;</a></p>
    </div>

    {% endfor %}
   
   </div>

</div>

<script src="{% static 'javascript/products.js' %}"></script>

{% endblock %}