{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Products{% endblock %}


{% block body %}

<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">

  <h1 align="center" style="margin-top: -100px; margin-bottom: 100px;">Products</h1>

  <div class="row-fluid">
  	
  	{% for product in products %}
    
    <div class="col-xs-6 col-sm-3">
      {% if product.image %}
      <img class="img-circle img-responsive" src="{{product.image.url}}" alt="Responsive image" width="140" height="140">
      {% endif %}
      <h2>{{product.name}}</h2>
      <p>Price: R$ {{product.price}}</p>
      <p><button id="add" class="btn btn-default" role="button" data-productCod={{product.cod}}>Buy &raquo;</button></p>
    </div>

    {% endfor %}
   
   </div>

</div>

<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
<script src="{% static 'javascript/products.js' %}"></script>

{% endblock %}